<br>
<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <p class="login-input">E-MAIL:</p>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <br>
  <div class="password-field">
    <p class="login-input">PASSWORD:</p>
    <%= form.password_field :password %>
  </div>

  <br>
  <div class="submit-field">
    <%= form.submit %>
  </div>
  <br>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
<br>
<%= button_to "Sign in with FB", "/auth/facebook", :class => "btn btn-info", :method => :get %>
