<h1><%= @listing.title %></h1>
<div><%= link_to "Edit Listing", edit_listing_path%></div>
<div class="promos">  
	<div class="promo scale">
	  <div class="deal">
	    <span><%= @listing.title %></span>
	    <span><%= @listing.description %></span>
	  </div>
	  <span class="price">RM<%= @listing.price %></span>
	  <ul class="features">
	    <li><%= @listing.place_type %></li>
	    <li><%= @listing.bedroom %> rooms</li>
	    <li><%= @listing.guest %> guests</li>   
	  </ul>
	  <button>Book Now</button>
	</div>
</div>



  