<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	  <link rel="stylesheet" href="/resources/demos/style.css">
	  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  <script>
	  $( function() {
	    $( "#datepicker" ).datepicker();
	  } );
	  </script>
	</head>
<body>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-3" id="mingle">Mingle</h1>
	    <p class="lead">Book unique homes and mingle around like a local</p>
	    <p>Date: <input type="text" id="datepicker"></p>
	    <!-- dates should be inside the form for listings -->
	  </div>
	</div>

	<div class="container">

		<div class="row">
			<div class="col-md-6 left">
		
			
		    </div>

			<div class="col-md-6 right">
				<h1><% @listings.each do |l| %></h1>

				 <div class="promos">  
				    <div class="promo scale">
					  <div class="deal">
					     <span><%= link_to l.title, listing_path(l.id) %></a></span>
					    <span><%= l.description %></span>
					  </div>
					  <span class="price">RM<%= l.price %></span>
					  <ul class="features">
					    <li><%= l.place_type %></li>
					    <li><%= l.bedroom %> rooms</li>
					    <li><%= l.guest %> guests</li>   
					  </ul>
					  <button>Book Now</button>
					</div>
			      </div>
			     <% end %>

			</div>
		</div>
	</div>

		<%= will_paginate @listings, previous_label: "Back", next_label: "More", inner_window: 1, outer_window: 0 %>
	</body>
</html>

