<div class="container">
	<div class="row">
		<div class="col-md-3 left">
			<h1>PairBnB</h1>
			<p>WhereverYou'llBe.</p>

			<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  <%= link_to "Create new listings", new_listing_path %>
			</div>

			<div id="main">
			  <span style="font-size:15px;cursor:pointer" onclick="openNav()">&#9776; more info</span>
			</div>
			
		</div>

		<div class="col-md-6 center">

			<h1><% @listings.each do |l| %></h1>

			 <div class="promos">  
			    <div class="promo scale">
				  <div class="deal">
				    <span><a href = "/listings/<%=l.id%>"><%= l.title %></a></span>
				    <span><%= l.description %></span>
				  </div>
				  <span class="price">RM<%= l.price %></span>
				  <ul class="features">
				    <li><%= l.place_type %></li>
				    <li><%= l.bedroom %> rooms</li>
				    <li><%= l.guest %> guests</li>   
				  </ul>
				  <button>Book Now</button>
				</div>
		      </div>
		     <% end %>
			
		</div>

		<div class="col-md-3 right">
			

		</div>
	</div>
</div>

