<div class="tag-field"> 
  <%= form.label :tag_content %>
    <%= radio_button_tag(:tag_content, :smoking) %>
    <%= label_tag(:tag_content, "smoking") %>
    <%= radio_button_tag(:tag, :non_smoking) %>
    <%= label_tag(:gender_person, "non-smoking") %>
    <%= radio_button_tag(:tag_content, :wifi) %>
    <%= label_tag(:tag_content, "wifi") %>
    <%= radio_button_tag(:tag, :non_wifi) %>
    <%= label_tag(:gender_person, "non-wifi") %>
    <%= radio_button_tag(:tag_content, :pets) %>
    <%= label_tag(:tag_content, "pets") %>
    <%= radio_button_tag(:tag, :non_pets) %>
    <%= label_tag(:gender_person, "non-pets") %>
</div>

