<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>

<body>

  <div id="header">
    <% if signed_in? -%>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <%= link_to 'PairBnB', root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav pull-right">
          <li> Welcome back <%=current_user.email%> </li>
          <li><%= button_to t(".sign_out"), sign_out_path, method: :delete %></li>
         </ul> 
    <% else -%>
        <%= link_to t(".sign_in"), sign_in_path %>
        <%= link_to t(".sign_up"), sign_up_path %>
        <%= link_to "Sign in with Facebook", "/auth/facebook" %>

    <% end -%>
  </div>

  <div class="container">
    <%= flash_messages %>
    <%= yield %>
  </div>

</body>
</html>
