<!DOCTYPE html>
<html>
<head>
  <title>Mingle</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>

<body>

  <div id="header">
    <% if signed_in? -%>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <%= link_to 'Mingle', root_path, class: 'navbar-brand' %>
            <span class= 'navbar-brand' id="main" style="font-size:15px;cursor:pointer" onclick="openNav()">&#9776; more info</span>
            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <%= link_to "Become a host", new_listing_path %>
              <p>Tags: <% Tag.all.each do |t|%></p>
                <%=link_to t.tag_content, tag_listings_path(t.id)%>
              <%end%>
            </div>
        </div>

        <div class="nav navbar-nav pull-right">
          <span> <a href= "/users/<%=current_user.id%>" class='navbar-brand'>Welcome back <%=current_user.email%> </a></span>
          <li><%= button_to t(".sign_out"), sign_out_path, method: :delete %></li>
         </div> 
    <% else -%>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <%= link_to 'Mingle', root_path, class: 'navbar-brand' %>
        </div>
        <span>
          <%= button_to "Sign In", sign_in_path, :class => "btn btn-primary", :method => :get %> 
          <%= button_to "Sign Up", sign_up_path, :class => "btn btn-primary", :method => :get %>
          <%= button_to "Sign in with FB", "/auth/facebook", :class => "btn btn-primary", :method => :get %>
        </span>

    <% end -%>
  </div>

  <div class="container">
    <%= flash_messages %>
    <%= yield %>
  </div>

</body>
</html>
